@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!-- team -->
<div class="team">
    <div class="container">
        <h3>About a Project Developer</h3>
        <div class="agileits_team_grids">
            @*<div class="col-md-3 agileits_team_grid">
                <img src="~/Content/images/35.jpg" alt=" " class="img-responsive" />
                <h4>ferial</h4>
                <p> Dept :- IS</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                    <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="col-md-3 agileits_team_grid">
                <img src="~/Content/images/35.jpg" alt=" " class="img-responsive" />
                <h4>Evon samir</h4>
                <p>Dept :- IS</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                    <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
            </div>*@
            <div class="col-md-3 agileits_team_grid">
                <img src="~/Content/images/thourai.jpg" alt=" " class="img-responsive" style="height:200px"/>
                <h4>thourai </h4>
                <p>E-mail :- thourai98manooh@gmail.com </p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                    <li><a href="https://www.facebook.com/ThOuraiNoOh/" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/ourai_th?fbclid=IwAR0vTQNCxtThrHKsL1cn3Llrgm_cF8Lz2Luqxl0Jy2j15a0fUjogYPXMdoc" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            @*<div class="col-md-3 agileits_team_grid">
                <img src="~/Content/images/35.jpg" alt=" " class="img-responsive" />
                <h4>fatma</h4>
                <p>Dept :- IS</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                    <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
            </div>

            <div class="col-md-3 agileits_team_grid">
                <img src="~/Content/images/35.jpg" alt=" " class="img-responsive" />
                <h4>Mariam Farag</h4>
                <p>Email:- mariam3iad@gmail.com</p>
                <ul class="agileits_social_icons agileits_social_icons_team">
                    <li><a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#" class="google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                </ul>
            </div>*@
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //team -->
<!-- newsletter -->
<!--<div class="newsletter">
    <div class="container">
        <div class="w3agile_newsletter_left">
            <h3>sign up for our newsletter</h3>
        </div>
        <div class="w3agile_newsletter_right">
            <form action="#" method="post">
                <input type="email" name="Email" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="">
                <input type="submit" value="subscribe now">
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>-->