@model Message
@{
    ViewData["Title"] = "contact Us";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!-- mail -->
<div class="mail">
    <h3>ِContact Us</h3>
    <div class="agileinfo_mail_grids">
        <div class="col-md-4 agileinfo_mail_grid_left">
            <ul>
                <li><i class="fa fa-home" aria-hidden="true"></i></li>
                <li>address<span> 20st Fasel Giza.</span></li>
            </ul>
            <ul>
                <li><i class="fa fa-envelope" aria-hidden="true"></i></li>
                <li>email<span><a href="mailto:thourai98manooh@gmail.com">thourai98manooh@gmail.com</a></span></li>
            </ul>
            <ul>
                <li><i class="fa fa-phone" aria-hidden="true"></i></li>
                <li>call to us<span>(+20) 112 5625 471</span></li>
            </ul>
        </div>
        <div class="col-md-8 agileinfo_mail_grid_right">
            <form asp-action="contact_us" asp-controller="home" method="post">
                <div class="col-md-6 wthree_contact_left_grid">
                    <input type="text" asp-for="name" value="Name*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name*';}" required="" />
                    <span asp-validation-for="name" class="text-danger"></span>

                    <input type="email" asp-for="email" value="Email*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email*';}" required="" />
                    <span asp-validation-for="email" class="text-danger"></span>
                </div>
                <div class="col-md-6 wthree_contact_left_grid">
                    <input type="text" asp-for="phone" value="Telephone*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Telephone*';}" required="" />
                    <span asp-validation-for="phone" class="text-danger"></span>

                    <input type="text" asp-for="subject" value="Subject*" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject*';}" required="" />
                    <span asp-validation-for="subject" class="text-danger"></span>

                </div>
                <div class="clearfix"> </div>
                <textarea asp-for="UserMessage" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Message...</textarea>
                <span asp-validation-for="UserMessage" class="text-danger"></span>

                <input type="submit" value="Submit">
                <input type="reset" value="Clear">
            </form>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
<!-- //mail -->

<div class="clearfix"></div>
	
<!-- map -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d96748.15352429623!2d-74.25419879353115!3d40.731667701988506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sshopping+mall+in+New+York%2C+NY%2C+United+States!5e0!3m2!1sen!2sin!4v1467205237951" style="border:0"></iframe>
</div>
<!-- //map -->