@{
    ViewData["Title"] = "Privacy Policy";
    Layout = null;
}
<h1>@ViewData["Title"]</h1>

<p>Reservation Hall OR Shop</p>

<h2>Home</h2>
<ul>
    <li>section 1 : gallary</li>
    <li>section 2 : card to halls and other to shops</li>
</ul>

<h2>About us</h2>
<p>information about the developer of web site</p>

<h2>Contact us</h2>
<p>form to send message throw website</p>

<h2>log in && sign in</h2>
<p>log in website as Owner of Hall OR shop</p>

<h2>profile</h2>
<p>after sign in or login you will be in your profile and can add , Edit Or Delete your hall or shop</p>