@model HallShopOwner

<p><span class="font-weight-bold">SSN: </span>@Model.SSN</p>
<p><span class="font-weight-bold">Name: </span>@Model.name</p>
<p><span class="font-weight-bold">E-mail: </span>@Model.email</p>
<p><span class="font-weight-bold">Phone: </span>@Model.phone</p>